{% extends "cv/cv_base.html" %}

{% block content %}

<div class="cv_block">
    <h2>Details</h2>
    <table id = "headInfo-table">
        <tr>
            <th>Details</th>
            <th>Admin</th>
        </tr>

        {% for log in headInfo %}
            <tr>
                <td>{{log.details|linebreaksbr}}</td>
                <td><a href="{{ log.pk }}/edit">Edit</a></td>
            </tr>
        {% endfor %}

    </table>
</div>


<div>
    
    <form method="POST">
        {% csrf_token %}
        <input type = "hidden" name = "record_type"  value="headInfo" / >
        <input type = "hidden" name = "name"  value="test" / >

        <textarea               name = "details"     id = "headInfo-input-details"   placeholder="Information" ></textarea>

        <button type="submit" class="save-button" id="headInfo-save">Save</button>

    </form>

</div>


<div>
    <h2>Eduction</h2>
    <table id = "education-table">
        <tr>
            <th>Location</th>
            <th>Qualifications</th>
            <th>Started</th>
            <th>Completed</th>
            <th>Admin</th>
        </tr>
        {% for log in education %}
            <tr>
                <td>{{log.name}}</td>
                <td>{{log.details|linebreaksbr}}</td>
                <td>{{log.start_date|date:"b Y"|title}}</td>
                <td>{{log.end_date|date:"b Y"|title}}</td>
                <td><a href="{{ log.pk }}/edit">Edit</a></td>
            </tr>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <input type = "hidden" name = "record_type"  value="education" / >
            <tr>
                <td><input  type = "text"   name = "name"        id = "education-input-name"      placeholder="Location" / ></td>
                <td><textarea               name = "details"     id = "education-input-details"   placeholder="Qualifications" ></textarea></td>
                <td><input type = "date"    name = "start_date"  id = "education-input-start" / ></td>
                <td><input type = "date"    name = "end_date"    id = "education-input-end" / ></td>
                <td><button type="submit" class="save-button" id="education-save">Save</button></td>
            </tr>
        </form>
    </table>
</div>

<div>
    <h2>Work</h2>
    <table id = "work-table">
        <tr>
            <th>Location</th>
            <th>Position</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Admin</th>
        </tr>
        {% for log in work %}
            <tr>
                <td>{{log.name}}</td>
                <td>{{log.details|linebreaksbr}}</td>
                <td>{{log.start_date|date:"b Y"|title}}</td>
                <td>{{log.end_date|date:"b Y"|title}}</td>
                <td><a href="{{ log.pk }}/edit">Edit</a></td>
            </tr>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <input type = "hidden" name = "record_type"  value="work" / >
            <tr>
                <td><input  type = "text"   name = "name"        id = "work-input-name"      placeholder="Location" / ></td>
                <td><textarea               name = "details"     id = "work-input-details"   placeholder="Position" ></textarea></td>
                <td><input type = "date"    name = "start_date"  id = "work-input-start" / ></td>
                <td><input type = "date"    name = "end_date"    id = "work-input-end" / ></td>
                <td><button type="submit" class="save-button" id="work-save">Save</button></td>
            </tr>
        </form>
    </table>
</div>

<div>
    <h2>Technical Skills</h2>
    <table id = "skills-table">
        <tr>
            <th>Skill</th>
            <th>Details</th>
            <th>Admin</th>
        </tr>
        {% for log in skills %}
            <tr>
                <td>{{log.name}}</td>
                <td>{{log.details|linebreaksbr}}</td>
                <td><a href="{{ log.pk }}/edit">Edit</a></td>
            </tr>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <input type = "hidden" name = "record_type"  value="skills" / >
            <tr>
                <td><input  type = "text"   name = "name"        id = "skills-input-name"      placeholder="Skill" / ></td>
                <td><textarea               name = "details"     id = "skills-input-details"   placeholder="Details" ></textarea></td>
                <td><button type="submit" class="save-button" id="skills-save">Save</button></td>
            </tr>
        </form>
    </table>
</div>

<div>
    <h2>Projects</h2>
    <table id = "projects-table">
        <tr>
            <th>Location</th>
            <th>Description</th>
            <th>Started</th>
            <th>Ended</th>
            <th>Admin</th>
        </tr>
        {% for log in projects %}
            <tr>
                <td>{{log.name}}</td>
                <td>{{log.details|linebreaksbr}}</td>
                <td>{{log.start_date|date:"b Y"|title}}</td>
                <td>{{log.end_date|date:"b Y"|title}}</td>
                <td><a href="{{ log.pk }}/edit">Edit</a></td>
            </tr>
        {% endfor %}

        <form method="POST">
            {% csrf_token %}
            <input type = "hidden" name = "record_type"  value="projects" / >
            <tr>
                <td><input  type = "text"   name = "name"        id = "projects-input-name"      placeholder="Project" / ></td>
                <td><textarea               name = "details"     id = "projects-input-details"   placeholder="Description" ></textarea></td>
                <td><input type = "date"    name = "start_date"  id = "projects-input-start" / ></td>
                <td><input type = "date"    name = "end_date"    id = "projects-input-end" / ></td>
                <td><button type="submit" class="save-button" id="projects-save">Save</button></td>
            </tr>
        </form>
    </table>
</div>

{% endblock %}
