
/* TITLE BLOCK */

.cv_title_block {
    font-size: 28pt;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Arcon';
    font-weight: bolder;
    background-color: #651881;
}

.cv_title_block h1 {
    font-size: 32pt;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Arcon';
    font-weight: bolder;
    background-color: #651881;
}

/* CV SECTION BLOCKS */

.cv_block h2 {
    font-size: 28pt;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Arcon';
    font-weight: bolder;
    background-color: #651881;
}

.cv_block_top {
    margin-top:12px;
    height: 8px;
    background-color: #380e47;
}

.cv_block {
    border-left: 3px solid #651881;
    border-right: 3px solid #651881;
    border-bottom: 2px solid #651881;
}

.content_container {
    padding: 0px 20px 12px 20px;
    /*width: 960px;*/
    margin: auto;
}

/* SECTION TABLE */
.cv_block table {
    width: 100%;
    border-collapse: collapse;
}
.cv_block table tbody {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

}


.cv_block th {
    padding: 2px 5px 2px 5px;
    background-color: #651881;
    font-size: 16pt;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Arcon';
    font-weight: bolder;
}

.add_row td {
    vertical-align: top;
}

.cv_block td  {
    font-family: 'Arcon';
}


.admin_head {
    width: 10px;
}



/* SPECIFIC WIDTHS */

#details_details {
    width:100%;
}

#ed_loc {
    width:10%;
    font-weight: bold;
}
#ed_qual {
    width:80%;
}
#ed_time {
    text-align: center;
    width:10%;
}


#wk_loc {
    width:10%;
    font-weight: bold;
}
#wk_pos {
    width:80%;
}
#wk_time {
    text-align: center;
    width:10%;
}

#sk_detail, #pj_details {
    width:100%;
}

/* SPECIFIC SECTION FORMATS */
.skill_name {
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Arcon';
}
.skill_detail {
    font-family: 'Arcon';
    margin-bottom: 8px;
}

.project_name {
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Arcon';
}
.project_dec {
    font-family: 'Arcon';
}
.project_time {
    text-align: right;
    font-weight: lighter;
    font-family: 'Arcon';
    margin-bottom: 8px;
}

.stacked_input{
    margin-top: 2px;
    margin-bottom: 2px;
}

/* FORMS */
button {
    color: #FFFFFF;
    font-size: 12pt;
    padding: 5px 12px 5px 12px;
    background-color: #651881;
    font-family: 'Arcon';
    border: none;
    border-radius: 3px;
    text-decoration: none;
}

.save_cell button {
    margin: auto;
    display: block;
}

.edit_button {
    color: #FFFFFF;
    font-size: 12pt;
    padding: 5px 12px 5px 12px;
    text-align: center;
    background-color: #651881;
    font-family: 'Arcon';
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}

.edit_wrapper {
    text-align: center;
    height: 100%;
    vertical-align: bottom;
    border-color: #FFFFFF;
}

textarea {
    width: 100%;
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Arcon';
    border: 1px solid #651881;
    border-radius: 3px;
    resize: vertical;
}

input {
    width: 100%;
    color: #000000;
    font-size: 12pt;
    font-weight: bold;
    font-family: 'Arcon';
    border: 1px solid #651881;
    border-radius: 3px;
}


/* EDIT FORM */
.edit_options {
    margin-top:12px;
}

.edit_option {
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Arcon';
    margin-bottom: 12px;
    line-height: 120%;
}


.delete_button {
    display: inline-block;
    position: relative;
}
.edit_save_button {
    display: inline-block;
    position: relative;
}

.edit_save_button button {
    font-size: 16pt;
}
.edit_option_buttons {
    text-align: right;
    font-size: 16pt;
}

.edit_page_delete_button {
    color: #FFFFFF;
    padding: 5px 12px 5px 12px;
    text-align: center;
    background-color: #651881;
    font-family: 'Arcon';
    border: none;
    border-radius: 3px;
    text-decoration: none;
    display: inline-block;
}