{% load static %}

<html>
    <head>
        {% block title %} {% endblock %}

       <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="{% static 'css/general.css' %}">
        <link rel="stylesheet" href="{% static 'css/banner.css' %}">
        {% block css %} {% endblock %}
    </head>

<body>

    <div class="page-header">
        <h1><a href="/">BFR859</a></h1>
    </div>
    <div class="command-banner">
        <a class="command-button" href="/" class="top-menu">Blog</a>
        <a class="command-button" href="/cv" class="top-menu">CV</a>
    </div>
    {% block admin_banner %} {% endblock %}

    <div class="content_container">
        {% block content %} {% endblock %}
    </div>


    <div class="footer">
        <a href="mailto:bfr859@student.bham.ac.uk">BFR859 - 2020 Bridging Coursework</a>
    </div>

</body>
</html>