{% load static %}

<html>
    <head>
        <title>BFR859</title>

       <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>

<body>

    <div class="page-header">
        <h1><a href="/">BFR859</a></h1>
    </div>
    {% if user.is_authenticated %}
    <div class="command-banner">
        <a class="command-button" href="{% url 'post_new' %}" class="top-menu">New Post</a>
        {% block command-buttons %}
        {% endblock %}
    </div>
    {% endif %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>


    <div class="footer">
        <a href="mailto:bfr859@student.bham.ac.uk">BFR859 - 2020 Bridging Coursework</a>
    </div>

</body>
</html>