{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="post-inner">
            <div class="post-title">{{ post.title }}</div>
            <div class="post-content">{{ post.text|linebreaksbr }}</div>
            {% if post.published_date %}
                <div class="published-box">Published on {{post.published_date}}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block command-buttons %}
    <a class="command-button" href="{% url 'post_edit' pk=post.pk %}" class="top-menu">Edit Post</a>
{% endblock %}
