
/* POST DISPLAY */
.post {
    padding-top: 5px;
    border-top: 5px solid #651881;
}

.post-inner {
    padding: 0px 20px 0px 20px;
}

.post-title, .post-title a, .post-title a:hover, .post-title a:active, .post-title a:visited {
    color: #651881;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Arcon';
}


.post-title{
    margin-bottom: 5px;
}

.post-content {
    font-family: 'Arcon';
    font-size: 14pt;
    text-align: justify;
}

.published-box {
    padding:120px 0px 12px 0px;
    text-align: right;
    font-family: 'Arcon';
    color: #828282;

}

.post-form textarea, .post-form input {
    width: 100%;
}

.edit-form {
    color: #000000;
    font-family: 'Arcon';
    padding: 0px 20px 0px 20px;
}

.edit-form h2 {
    color: #651881;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Arcon';
}

.edit-form label {
    color: #000000;
    font-size: 14pt;
    font-family: 'Arcon';
}

.edit-form input {
    color: #000000;
    font-size: 14pt;
    font-weight: bold;
    font-family: 'Arcon';
    border: 1px solid #651881;
    border-radius: 3px;
}

.edit-form textarea {
    color: #000000;
    font-size: 14pt;
    font-family: 'Arcon';
    border: 1px solid #651881;
    border-radius: 3px;
}

.edit-form button {
    color: #FFFFFF;
    font-size: 14pt;
    margin: 5px 5px 5px 5px;
    padding: 5px 12px 5px 12px;
    background-color: #651881;
    font-family: 'Arcon';
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
    display: block;
}

